/* 
Color References
	Gray = #cccccc
	Teal = #3dc391
	Navbar Opacity = 88%
	Button Opacity = rgba(61, 195, 145, .88);
*/

/* Global */

.raleway {
	font-family: "raleway";
}

.myriad-pro {
	font-family: "myriad-pro", "Raleway", "Helvetica", sans-serif;
}

.tab-parent {
	display: table;
}

.tab-center {
	display: table-cell;
	vertical-align: middle;
}

html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}

/*.navbar-default {
	background: rgba(255,255,255,0.88) !important;
	border: none;
}*/

.navbar-default {
	background: rgba(255,255,255,0.88) !important;
	border: none;
}

footer {
	height: 25%;
}

li {
	font-family: 'raleway', 'myriad-pro', sans-serif;
}

a {
	text-decoration: none !important;
	color: #333 !important;
}

footer a:hover {
	text-decoration: none !important;
}

.btn-cta {
	color: #fff;
	background-color: #3dc391;
}

.btn-secondary {
	color: #fff;
	background-color: rgba(61, 195, 145, .75);
}

.form-control {
	border-radius: none !important;
}

.alert-custom {
	color: #fff;
	background-color: rgba(61, 195, 145, .75);
}

/* HERO */

#hero {
	background: url('../img/main-bg.jpg') center;
	width: 100%;
	height: 1020px;
	background-size: cover;
	background-position: fixed;
}


#hero-tag {
	padding-top: 25%;
}

#work-cta {
	padding-top: 130px;
	padding-bottom: 20px;
}



/* SOCIAL */

#social {
	background-color: white;
	border: none;
	height: 183.563px;
	font-family: 'myriad-pro', 'raleway',  sans-serif;
	display: table;
	width: 100%;
}

#social .container {
	display: table-cell;
	vertical-align: middle;
}

#social-links {
	
	text-align: center;
}

/* COPYRIGHT */

#copyright {
	background-color: #cccccc;
	border: none;
	height: 61.188px;
	font-family: 'raleway', 'myriad-pro', sans-serif;
	display: table;
	width: 100%;
}

#copyright .container {
	display: table-cell;
	vertical-align: middle;
}

#copyright-text {
	text-align: center;
}

/* FEATURE IMAGE */

.feature-image {
	background: url('../img/hipster-mobile1.jpg') no-repeat fixed;
	width: 100%;
	height: 35%;
	display: table;
	background-size: cover;
	background-position: center;
}

.feature-image h1 {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: #fff;
}

/* ABOUT */

#about {
	background: url('../img/concrete_seamless.png') repeat;
	padding-top: 60px;
	padding-bottom: 60px;
}

#abt-pic {
	display: none;
}

/*#about {
	background-color: #c2ceda;
	padding-top: 60px;
	padding-bottom: 60px;
}
*/
.about-picture {
	padding-top: 10px;
}

.about-picture-alt {
	padding-top: 25px;
}

.about-section {
	padding-top: 60px;
}

.about-sub-section {
	padding-top: 40px;
}

/* WORK */

#work {
	background: url('../img/concrete_seamless.png') repeat;
	padding-top: 60px;
	padding-bottom: 60px;
}

#work img {
	height: 180px;
	width: 180px;
}

.project-row {
	padding: 50px;
}

/* PROJECT */

#project {
	background: url('../img/concrete_seamless.png') repeat;
	padding-top: 60px;
	padding-bottom: 60px;

}

.proj-descript {
	padding-top: 50px;
}


.project-cta {
	padding-top: 50px;
}

/* CONTACT */

#contact {
	background: url('../img/concrete_seamless.png') repeat;
	padding-top: 60px;
	padding-bottom: 60px;
}

.contact-col{
	padding-top: 20px;
}

.contact-col-bottom {
	padding-bottom: 60px;
}

.contact-row-top {
	padding-top: 50px;
}

.v-center {
  position: relative;
  transform: translateY(60%);
}


/* MODAL-CONTACT */

#modal-contact {
	max-width: 100%;
}

.modal-contact-bg {
	background: url('../img/concrete_seamless.png') repeat;
}

.contact-col{
	padding-top: 20px;
}

.contact-col-bottom {
	padding-bottom: 60px;
}

.contact-row-top {
	padding-top: 50px;
}

.v-center {
  position: relative;
  transform: translateY(60%);
}

.modal-contact-header {
  min-height: 16.42857143px;
  padding: 15px;
}

.modal-contact-header .close {
  margin-top: -2px;
}

.modal-contact-footer {
  padding: 15px;
  text-align: right;
}
.modal-contact-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-contact-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-contact-footer .btn-block + .btn-block {
  margin-left: 0;
}

/* MEDIA QUERIES */

@media screen and (max-width : 991px) {
	/*#hero .container {
		background: rgba(204, 204, 204, 0.7);
		padding: 20px;
	}*/

	#work-cta {
		padding-top: 60px;
	}

	#hero {
		height: auto;
		padding-bottom: 100px;
	}

	footer {
		height: auto;
	}

	

/*	#hide {
		display: none;
	}

	#block {
		display: block;
		padding-top: 5px;
	}*/
	.about-center {
		text-align: center;
	}

	/*.feature-image {
	background: url('../img/hipster-mobile1.jpg') no-repeat fixed;
	width: 100%;
	height: 35%;
	display: table;
	background-size: cover;
	background-position: center;
	}*/

	.padding-bottom {
		padding-bottom: 50px;
	}
	
	.launch-website {
	padding-top: 50px;
	}

	.btn-mobile {
		padding-top: 50px;
	}

	#abt-pic {
		display: inline;
	}

	#about-pic {
		display: none;
	}

}

@media screen and (max-height : 715px) {
	#copyright-text {
		padding-top: 8px;
	}
}