/* 
Color References
	Gray = #cccccc
	Teal = #3dc391
	Navbar Opacity = 88%
	Button Opacity = rgba(61, 195, 145, .88);
*/

/* Global */

.raleway {
	font-family: "raleway";
}

.myriad-pro {
	font-family: "myriad-pro", "Raleway", "Helvetica", sans-serif;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

.navbar-default {
	background: rgba(255,255,255,0.88) !important;
	border: none;
}

footer {
	height: 25%;
}

li {
	font-family: 'raleway', 'myriad-pro', sans-serif;
}

.btn-cta {
	color: #fff;
	background-color: #3dc391;
}

.btn-secondary {
	color: #fff;
	background-color: rgba(61, 195, 145, .75);
}

/* HERO */

#hero {
	background: url('../img/headshot.png');
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: fixed;
}

#hero-tag {
	padding-top: 25%;
}

#work-cta {
	padding-top: 130px;
	padding-bottom: 20px;
}



/* SOCIAL */

#social {
	background-color: white;
	border: none;
	height: 75%;
	font-family: 'myriad-pro', 'raleway',  sans-serif;
}

#social-links {
	padding-top: 50px;
	text-align: center;
}

/* COPYRIGHT */

#copyright {
	background-color: #cccccc;
	border: none;
	height: 25%;
	font-family: 'raleway', 'myriad-pro', sans-serif;
}

#copyright-text {
	text-align: center;
	padding-top: 15px;
}

/* MEDIA QUERIES */

@media screen and (max-width : 991px) {
	#hero .container {
		background: rgba(204, 204, 204, 0.7);
		padding: 20px;
	}

	#work-cta {
		padding-top: 100px;
	}

	footer {
		height: 50%;
	}

	#copyright-text {
		padding-top: 40px;
	}

	#social {
		height: 90%;
	}

	#social-links {
		padding-top: 10px;
	}
}

@media screen and (max-height : 715px) {
	#copyright-text {
		padding-top: 8px;
	}
}